
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,IE=edge" charset="utf-8" http-equiv="X-UA-Compatible" />
    <title>鸿翔人力资源绩效管理平台</title>
    <link href="~/Content/Login/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Login/css/demo.css" rel="stylesheet" />
    <link href="~/Content/Login/css/component.css" rel="stylesheet" />
    <script src="~/Javascript/jquery-1.4.4.min.js"></script>
    <script src="~/Javascript/jquery.easyui.min.1.2.2.js"></script>
    <script src="~/Javascript/locale/easyui-lang-zh_CN.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Javascript/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function check_f() {
        $('#login_f').form('submit', {
            url: '/Home/Login',
            onSubmit: function () {
                var name = document.login_f.userid.value;
                var pwd = document.login_f.password.value;
                if (!name || !pwd) { alert('请输入完整的登录信息！'); return false; }
            },
            success: function (result) {
                var result = $.parseJSON(result); ;
                if (result.IsSuccess) {
                    window.location = '/Home/MainDefault';
                } else {
                    $.messager.alert('错误提示', result.Message, 'error');
                }
            }
        });
    }

//    设置登录页面为顶级窗口
    function Top() {
        if (window.top !== window.self)
            window.top.location = this.location;
    }
    </script>
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎使用绩效平台</h3>
                    <form action="/Home/Login" name="login_f" id="login_f" method="post">
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input name="userid" class="text" style="color: #FFFFFF !important;text-align:center;" type="text" placeholder="请输入工号" required>
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100; text-align:center;" type="password" placeholder="请输入密码" required>
                        </div>
                        <div class="mb2"><a class="act-but submit" href="#" style="color: #FFFFFF" onclick="check_f()">登录</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->
    <script src="~/Javascript/Login/TweenLite.min.js"></script>
    <script src="~/Javascript/Login/EasePack.min.js"></script>
    <script src="~/Javascript/Login/rAF.js"></script>
    <script src="~/Javascript/Login/demo-1.js"></script>
</body>
</html>

